<%= render 'shared/page_title', title: @recipe.name%>
<div align="center">
    <div class="card col-md-8 bg-light bg-gradient border border-success">
        <div class="card-body">
            <h4 class="center description"><strong>Steps: </strong></h4>
            <hr/>
            <%= content_tag :p, simple_format(@recipe.description), class: "text-start mb-0"%>
            <div class="pull-right">
                <p class="text-start mb-0">
                    Created by:
                </p>
                <p class="center">
                    <%= link_to gravatar_for(@recipe.user), recipe_path(@recipe) %>
                </p>
            </div>
            <p class="text-start"><small><%= @recipe.user.name%></small></p>
            <p class="text-end">
                Created <%= time_ago_in_words(@recipe.created_at)%> ago 
            </p>
        </div>
    </div>
</div>