<%= render 'shared/errors', obj: @ingredient %>
<div class="row">
    <div class="col-md-12">
        <%= form_for(@ingredient, :html=>{class: 'form-horizantal', role: 'form'}) do |f| %>
        <div class="form-group row">
            <div class="control-label col-sm-1">
                <%= f.label :Name, class: 'fw-bold match-color'%>
            </div>
            <div class="col-md-8">
                <%= f.text_field :name, placeholder: 'Enter ingredient', class: 'form-control' %>
            </div>
        </div>
        <div class="form-group">
            <div class="offset-md-1 col-md-10">
                <%= f.submit(@ingredient.new_record? ? "Submit" : "Edit", class: "btn btn-danger btn-lg btn-bg col-3") %>
            </div>
        </div>
        <% end %>
        <div class='col-md-4 offset-1 fs-4'>
            [ <%= link_to 'Back', recipes_path, class: 'match-color back-link' %> ]
        </div>
    </div>
</div>