<%= render 'shared/page_title', title: "#{@ingredient.name.capitalize}"%>

<% if @ingredient.recipes.count != 0 %>
  <h4 align="center" class="py-1">Recipes containing <%= @ingredient.name.capitalize%></h4>
<%= paginate @ingredient_recipes, theme: 'my_custom_theme', window: 3 %>
  <%= render 'recipes/recipe', obj: @ingredient.recipes%>
<% else %>
  <h4 align="center">No recipes yet</h4>
<%end%>
<%= paginate @ingredient_recipes, theme: 'my_custom_theme', window: 3 %>
